@layer base {
    .container {
        --color-primary: #197fe6;
        --color-background-light: #f6f7f8;
        --color-background-dark: #111921;
        --color-some-bg-light: #f6f7f8;
        --color-some-bg-dark: #111921;
        /* --color-slate-900: rgba(15, 23, 42, 1);

        --background-light-to-slate-900: var(--color-background-light); */
        --background: var(--color-background-light);
        --somebg-light-to-dark: var(--color-some-bg-light);

        --radius: 0.25rem;
        --radius-lg: 0.5rem;
        --radius-xl: 0.75rem;
        --radius-full: 9999px;
    }

    .dark .container {
        --background: var(--color-background-dark);
        --background-light-to-dark: var(--color-background-dark);
        --somebg-light-to-dark: var(--color-some-bg-dark);
        /* --background-light-to-slate-900: var(--color-slate-900); */
    }

    .material-symbols-outlined .container {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
}