@layer base {
    .container {
        --color-primary: #197fe6;
        --color-primary-5: rgba(25, 127, 230, 0.05);
        --background-light: #f6f7f8;
        --background-dark: #111921;
        --color-blue-50-50: rgba(239, 246, 255, 0.5);

        --blue-50-50-to-primary-5: var(--color-blue-50-50);

        --radius: 0.5rem;
        --radius-lg: 1rem;
        --radius-xl: 1.5rem;
        --radius-full: 9999px;
    }

    .dark .container {
        --blue-50-50-to-primary-5: var(--color-primary-5);
    }

    .material-symbols-outlined .container {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
}