@import "tailwindcss";
@import "material-symbols/outlined.css";
/* @import 'material-icons/iconfont/material-icons.css'; */

/* === Our custom design tokens === */
@theme {
  /* Colors */
  --color-primary: #14b5b8;
  --color-primary-dark: #0F3D3E;
  --color-primary-5: rgba(20, 181, 184, 0.05);
  --color-primary-10: rgba(20, 181, 184, 0.1);
  --color-primary-40: rgba(20, 181, 184, 0.4);
  --color-primary-60: rgba(20, 181, 184, 0.6);
  --color-background-light: #f6f8f8;
  --color-background-dark: #112121;
  --color-teal-950: #1a2e2e;
  --color-white: #FFFFFF;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-slate-50: rgba(248, 250, 252, 1);
  --color-slate-100: rgba(241, 245, 249, 1);
  --color-slate-200: rgba(226, 232, 240, 1);
  --color-slate-400: rgba(148, 163, 184, 1);
  --color-slate-500: rgba(100, 116, 139, 1);
  --color-slate-600: rgba(71, 85, 105, 1);
  --color-slate-700: rgba(51, 65, 85, 1);
  --color-slate-800: rgba(30, 41, 59, 1);
  --color-slate-800-50: rgba(30, 41, 59, 0.5);
  --color-slate-900: rgba(15, 23, 42, 1);
  --color-slate-900-80: rgba(15, 23, 42, 0.8);
  --color-amber-900-20: rgba(120, 53, 15, 0.2);
  --color-amber-900-30: rgba(120, 53, 15, 0.3);
  --color-amber-50: rgba(255, 251, 235, 1);
  --color-amber-100: rgba(254, 243, 199, 1);
  --color-amber-500: rgba(245, 158, 11, 1);
  --color-amber-700: rgba(180, 83, 9, 1);
  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-500: rgba(16, 185, 129, 1);
  --color-emerald-700: rgba(4, 120, 87, 1);
  --color-emerald-900-30: rgba(6, 78, 59, 0.3);
  --color-emerald-900-20: rgba(6, 78, 59, 0.2);
  --color-blue-100: rgba(219, 235, 254, 1);
  --color-blue-500: rgba(59, 130, 246, 1);
  --color-blue-700: rgba(29, 78, 216, 1);
  --color-blue-900-30: rgba(30, 58, 138, 0.3);


  /**Old Colors*/
  --color-accent: #F4B740;
  --color-bg-accent-teal: #234548;
  --color-bg-accent-teal-30: rgba(35, 69, 72, 0.7);
  --color-emerald-muted: #2E7D6F;
  --color-muted-emerald: #e6f4f1;
  --color-emerald-600: #059669;
  --color-emerald-400: #34d399;

  --color-emerald-950: #022c22;
  --color-emerald-950-30: rgba(2, 44, 34, 0.3);

  --color-emerald-900: #064e3b;
  --color-emerald-200: #a7f3d0;
  --color-emerald-800: #065f46;
  --color-emerald-800-70: rgba(6, 95, 70, 0.7);
  --color-emerald-200-70: rgba(167, 243, 208, 0.7);
  --color-accent-amber: #d97706;
  --color-background-dark-80: rgba(19, 31, 31, 0.2);
  --color-background-dark-50: rgba(19, 31, 31, 0.5);
  --color-background-dark-40: rgba(19, 31, 31, 0.4);
  --color-primary-5: rgba(15, 61, 62, 0.05);
  --color-primary-50: #e7f3f3;
  --color-primary-40: rgba(15, 61, 62, 0.4);
  --color-primary-50: rgba(15, 61, 62, 0.5);
  --color-primary-60: rgba(15, 61, 62, 0.6);
  --color-primary-70: rgba(15, 61, 62, 0.7);
  --color-primary-80: rgba(15, 61, 62, 0.8);
  --color-primary-100: #cfe7e7;
  --color-primary-950: #0d1b1b;
  --color-white-5: rgba(255, 255, 255, 0.05);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-40: rgba(255, 255, 255, 0.4);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-white-70: rgba(255, 255, 255, 0.7);


  --color-primary-40: rgba(15, 61, 62, 0.4);
  --color-gray-50: rgba(249, 250, 251, 1);
  --color-gray-400: rgb(156, 163, 175);
  --color-zinc-50: rgba(250, 250, 250, 1);
  --color-zinc-900-50: rgba(24, 24, 27, 0.5);
  --color-neutral-100: #F8F9F9;
  --color-neutral-800: #344565;
  --color-transparent: rgba(0, 0, 0, 0);
  --color-brown-800: #3d3321;
  --color-brown-900: #2d2516;
  --color-brown-950: #1c170d;
  --color-brown-950-70: rgba(28, 23, 13, 0.7);
  --color-brown-950-60: rgba(28, 23, 13, 0.6);
  --color-cream-50: #fcfbf8;
  --color-cream: #f4efe7;
  --color-cream-70: rgba(244, 239, 231, 0.7);
  --color-cream-60: rgba(244, 239, 231, 0.6);
  --color-cream-200: #e8e0ce;

  --color-slate-900-50: rgba(15, 23, 42, 0.5);


  --color-slate-800-40: rgba(30, 41, 59, 0.4);
  --color-slate-800-50: rgba(30, 41, 59, 0.5);


  --color-slare-300: rgba(203, 213, 225, 1);

  /* Fonts */
  --font-display: var(--font-inter), sans-serif;

  /**Old Font*/
  /* Font families (placeholders – actual fonts will be linked later) */
  /* --font-display: var(--font-manrope), sans-serif; */
  /* --font-body: var(--font-inter), sans-serif; */


  /* Border radius */
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  /**Old Spacing*/
  --spacing: 0.2rem;
}

/* === Base styles that use our theme === */
@layer base {

  /* bg-white dark:bg-background-dark */

  /* Light mode (default) */
  :root {
    --primary: var(--color-primary);
    --background: var(--color-background-light);
    --white-to-teal-950: var(--color-white);
    --white-to-slate-900: var(--color-white);
    --white-to-slate-800: var(--color-white);
    --white-to-slate-700: var(--color-white);
    --white-80-to-slate-900-80: var(--color-white-80);
    --primary-dark-to-white: var(--color-primary-dark);
    --primary-dark-to-primary: var(--color-primary-dark);
    --primary-dark-to-slate-200: var(--color-primary-dark);
    --primary-60-to-primary-40: var(--color-primary-60);
    --primary-5-to-primary-10: var(--color-primary-5);
    --slate-50-to-slate-800: var(--color-slate-50);
    --slate-50-to-800-50: var(--color-slate-50);
    --slate-50-to-700: var(--color-slate-50);
    --slate-500-to-slate-400: var(--color-slate-500);
    --slate-600-to-400: var(--color-slate-600);
    --slate-200-to-slate-700: var(--color-slate-200);
    --slate-200-to-800: var(--color-slate-200);
    --slate-700-to-300: var(--color-slate-700);
    --slate-800-to-slate-200: var(--color-slate-800);
    --slate-900-to-white: var(--color-slate-900);
    --slate-900-to-100: var(--color-slate-900);
    --slate-100-to-800: var(--color-slate-100);
    --slate-100-to-800-50: var(--color-slate-100);
    --amber-50-to-amber-900-20: var(--color-amber-50);
    --amber-100-to-900-30: var(--color-amber-100);
    --amber-700-to-amber-500: var(--color-amber-700);
    /* --amber-700-to-900-30: var(--color-amber-700); */
    --emerald-700-to-500: var(--color-emerald-700);
    --emerald-50-900-20: var(--color-emerald-50);
    --emerald-100-to-900-30: var(--color-emerald-100);
    --blue-100-to-900-30: var(--color-blue-100);
    --blue-700-to-500: var(--color-blue-700);

    /**Old root*/
    --input-bg: var(--color-primary-5);
    --badge-text: var(--color-primary);
    --icon-color: var(--color-primary);
    --button-hover-bg: var(--color-primary-5);
    --input-icon-color: var(--color-primary-40);
    --color-white-to-dark: var(--color-white);
    --color-white-to-dark-80: var(--color-white);
    --color-white-to-dark-50: var(--color-white);
    --color-white-to-dark-40: var(--color-white);
    --color-primary-60-to-white-60: var(--color-primary-60);
    --primary-70-to-white-70: var(--color-primary-70);
    --primary-80-to-white-80: var(--color-primary-80);
    --primary-50-to-white-50: var(--color-primary-50);
    --primary-40-to-white-40: var(--color-primary-40);
    --primary-to-white: var(--color-primary);
    --primary-60-to-gray-400: var(--color-primary-60);
    --primary-to-primary-light: var(--color-primary);
    --background-to-background-50: var(--color-background-light);
    --gray-50-to-white-5: var(--color-gray-50);
    --white-to-primary-5: var(--color-white);
    --background-light-to-white-5: var(--color-background-light);
    --zinc-50-to-zinc-900-50: var(--color-zinc-50);
    --neutral-100-to-neutral-800: var(--color-neutral-100);
    --emerald-600-to-emerald-400: var(--color-emerald-600);
    --emerald-50-to-emerald-950-30: var(--color-emerald-50);
    --emerald-900-to-emerald-100: var(--color-emerald-900);
    --emerald-800-70-to-emerald-200-70: var(--color-emerald-800-70);
    --transparent-to-white-10: var(--color-transparent);
    --transparent-to-slate-900-50: var(--color-transparent);
    --transparent-to-slate-800: var(--color-transparent);
    --transparent-to-slate-800-50: var(--color-transparent);
    --transparent-to-slate-800-40: var(--color-transparent);
    --transparent-to-slate-700: var(--color-transparent);
    --primary-950-to-white: var(--color-primary-950);
    --white-to-white-5: var(--color-white);
    --white-to-white-10: var(--color-white);
    --primary-50-to-white-10: var(--color-primary-50);
    --primary-50-to-white-5: var(--color-priamry-50);
    --primary-100-to-white-10: var(--color-primary-100);
    --white-to-brown-900: var(--color-white);
    --brown-950-to-white: var(--color-brown-950);
    --brown-950-70-to-cream-70: var(--color-brown-950-70);
    --brown-950-60-to-cream-60: var(--color-brown-950-60);
    --brown-950-to-cream: var(--color-brown-950);
    --cream-200-to-brown-800: var(--color-cream-200);
    --cream-50-to-brown-950: var(--color-cream-50);
    --slate-900-to-white: var(--color-slate-900);
    --slate-600-to-slate-400: var(--color-slate-600);
    --slate-300-to-slate-700: var(--color-slate-300);
  }

  /* Dark mode – triggered by adding class="dark" to <html> */
  .dark {
    --primary: var(--color-primary-dark);
    --background: var(--color-background-dark);
    --white-to-teal-950: var(--color-teal-950);
    --white-to-slate-900: var(--color-slate-900);
    --white-to-slate-800: var(--color-slate-800);
    --white-to-slate-700: var(--color-slate-700);
    --white-80-to-slate-900-80: var(--color-slate-900-80);
    --primary-dark-to-white: var(--color-white);
    --primary-dark-to-primary: var(--color-primary);
    --primary-dark-to-slate-200: var(--color-slate-200);
    --primary-60-to-primary-40: var(--color-primary-40);
    --primary-5-to-primary-10: var(--color-primary-10);
    --slate-50-to-slate-800: var(--color-slate-800);
    --slate-50-to-800-50: var(--color-slate-800-50);
    --slate-50-to-700: var(--color-slate-700);
    --slate-500-to-slate-400: var(--color-slate-400);
    --slate-600-to-400: var(--color-slate-400);
    --slate-700-to-300: var(--color-slate-300);
    --slate-200-to-slate-700: var(--color-slate-700);
    --slate-200-to-800: var(--color-slate-800);
    --slate-800-to-slate-200: var(--color-slate-200);
    --slate-900-to-white: var(--color-white);
    --slate-900-to-100: var(--color-slate-100);
    --slate-100-to-800: var(--color-slate-800);
    --slate-100-to-800-50: var(--color-slate-800-50);
    --amber-50-to-amber-900-20: var(--color-amber-900-20);
    --amber-100-to-900-30: var(--color-amber-900-30);
    --amber-700-to-amber-500: var(--color-amber-500);
    --emerald-700-to-500: var(--color-emerald-500);
    --emerald-50-900-20: var(--color-emerald-900-20);
    --emerald-100-to-900-30: var(--color-emerald-900-30);
    --blue-100-to-900-30: var(--color-blue-900-30);
    --blue-700-to-500: var(--color-blue-500);

    /**Old Dark*/
    --input-bg: var(--color-white-5);
    --badge-text: var(--color-white);
    --icon-color: var(--color-white);
    --button-hover-bg: var(--color-primary-5);
    --input-icon-color: var(--color-bg-accent-teal);
    --color-white-to-dark: var(--color-background-dark);
    --color-white-to-dark-80: var(--color-background-dark-80);
    --color-white-to-dark-50: var(--color-background-dark-50);
    --color-white-to-dark-40: var(--color-background-dark-40);
    --color-primary-60-to-white-60: var(--color-white-60);
    --primary-70-to-white-70: var(--color-white-70);
    --primary-80-to-white-80: var(--color-white-80);
    --primary-50-to-white-50: var(--color-white-50);
    --primary-40-to-white-40: var(--color-white-40);
    --primary-to-white: var(--color-white);
    --primary-60-to-gray-400: var(--color-gray-400);
    --primary-to-primary-light: var(--color-primary-light);
    --background-to-background-50: var(--color-background-dark-50);
    --gray-50-to-white-5: var(--color-white-5);
    --white-to-primary-5: var(--color-primary-5);
    --background-light-to-white-5: var(--color-white-5);
    --zinc-50-to-zinc-900-50: var(--color-zinc-900-50);
    --neutral-100-to-neutral-800: var(--color-neutral-800);
    --emerald-600-to-emerald-400: var(--color-emerald-400);
    --emerald-50-to-emerald-950-30: var(--color-emerald-950-30);
    --emerald-900-to-emerald-100: var(--color-emerald-100);
    --emerald-800-70-to-emerald-200-70: var(--color-emerald-200-70);
    --transparent-to-white-10: var(--color-white-10);
    --transparent-to-slate-900-50: var(--color-slate-900-50);
    --transparent-to-slate-800: var(--color-slate-800);
    --transparent-to-slate-800-50: var(--color-slate-800-50);
    --transparent-to-slate-800-40: var(--color-slate-800-40);
    --transparent-to-slate-700: var(--color-slate-700);
    --primary-950-to-white: var(--color-white);
    --white-to-white-5: var(--color-white-5);
    --white-to-white-10: var(--color-white-10);
    --primary-50-to-white-10: var(--color-white-10);
    --primary-50-to-white-5: var(--color-white-5);
    --primary-100-to-white-10: var(--color-white-10);
    --white-to-brown-900: var(--color-brown-900);
    --brown-950-to-white: var(--color-white);
    --brown-950-70-to-cream-70: var(--color-cream-70);
    --brown-950-60-to-cream-60: var(--color-cream-60);
    --brown-950-to-cream: var(--color-cream);
    --cream-200-to-brown-800: var(--color-brown-800);
    --cream-50-to-brown-950: var(--color-brown-950);
    --slate-900-to-white: var(--color-white);
    --slate-600-to-slate-400: var(--color-slate-400);
    --slate-300-to-slate-700: var(--color-slate-700);
  }

  /**Old Color blend mode*/
  /* Default (light mode) */
  .blend-mode-product {
    mix-blend-mode: multiply;
  }

  /**Old Dark Color blend mode*/
  /* Dark mode override */
  .dark .blend-mode-product {
    mix-blend-mode: normal;
  }

  /**Old Html font-size mode*/
  html {
    font-size: 14px;
    /* default is 16px */
  }

  /**Old Body Colors*/
  body {
    background-color: var(--background);
    /* color: var(--foreground); */
  }

  /**Old header fonts*/
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-display);
  }

  /**Old config*/
  .slider-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #0f3d3e;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }

  .slider-thumb::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #0f3d3e;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }

  .step-active {
    color: #0f3d3e;
    font-weight: 700;
  }

  .step-inactive {
    color: #578d8e;
  }

  /* ------------------------------------------------------ */

}