@layer base {
    .container {
        --color-primary: #197fe6;
        --color-background-light: #f6f7f8;
        --color-background-dark: #111921;

        --background: var(--color-background-light);

        --radius: 0.5rem;
        --radius-lg: 1rem;
        --radius-xl: 1.5rem;
        --radius-full: 9999px;
    }

    .dark .container {
        --background: var(--color-background-dark);
    }

    .material-symbols-outlined .container {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        display: inline-block;
        vertical-align: middle;
    }
}